.header__lang-box {
  display: flex;
  margin-top: 46px;
  grid-gap: 16px;
}

@media screen and (max-width: 767px) {
  .header__lang-box {
    display: flex;
    margin-top: 30px;
    grid-gap: 18px;
  }
}
