.footer__list {
  display: flex;
  list-style: none;
  grid-gap: 18px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    margin-bottom: 48px;
    grid-gap: 32px;
  }
}
